.content {
    padding: 0 4px 12px 4px;
    min-height: 535px;
}

img.product {
    width: 100%;
    margin-bottom: 8px;
}

.row {
    display: flex;
    border-bottom: solid 1px #F3F2F2;
}

.row div:first-child {
    width: 80px;
}

.row div:nth-child(2) {
    flex: 1;
}

section {
    font-weight: bold;
    font-size: 13px;
    margin-top: 8px;
    text-transform: uppercase;
}

.placeholder {
    color: #C23335;
    height: 500px;
}

.placeholder img {
    height: 80px;
    margin-bottom: 12px;
}

.slds-align_absolute-center {
    display: flex;
    flex-direction: column;
}

.price {
    color: #C23335;
}