.content {
    cursor: -webkit-grab;
    border-bottom: solid 1px #d8dde6;
    width: 100%;
    padding: 4px;
}

a {
	color: inherit;
}

.content:active {
    cursor: -webkit-grabbing;
}

img.product {
    height: auto;
    min-height: 50px;
    width: 50px;
}

img {
    max-width: initial;
}

.price,
.title {
    font-weight: bold;
    text-transform: uppercase;
}

.price {
    color: #FF6600;
}