.content {
    padding: 8px;
    background-color: #FFFFFF;
}

a {
	color: inherit;
}

img.product {
    height: 120px;
    /* pointer-events: none; */
}

img {
    max-width: initial;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}