header {
    padding-bottom: 12px;
}

.order-total {
    margin-right: 20px;
}

.drop-zone {
    background: rgb(243, 242, 242);
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
}

c-order_item_tile {
    min-width: 250px;
    flex: 1;
}